.preview { display:flex; justify-content:center; padding:10px; border:1px dashed #808080; border-radius:6px; }
::deep  button { margin:20px 0 !important; }
.acoes { display:flex; justify-content:center; width:100%; }