@media all {
    footer { background:#3B3F49; color:#FFF; padding:20px }
    footer ::deep a { text-decoration:none; color:#FFF; display:flex; text-transform:uppercase; margin:10px 0; }
    footer .superior { display:flex; flex-direction:column; align-items:flex-end; }
    footer .inferior { display:flex; align-items:center; justify-content:center; border-top:1px solid #DDD; padding:5px 0; margin-top:30px; text-transform:uppercase; }
}