<footer>
    <div class="container">
        <div class="logo">
             <p>Frases <br /> Curtas</p>
        </div>
        <div class="superior">
            <NavLink href="/">Frases</NavLink>
            <NavLink href="/">Autores</NavLink>
            <NavLink href="/">Categorias</NavLink>
        </div>
        <div class="inferior">
            <p>Copyright© @DateTime.Today.Year Frases Curtas</p>
        </div>
    </div>
</footer>