<footer>
    <div class="container">
        <div class="logo">
             <p>Frases <br /> Curtas</p>
        </div>
        <div class="superior">
            <NavLink href="/">Frases</NavLink>
            <NavLink href="/autores">Autores</NavLink>
            <NavLink href="/categorias">Categorias</NavLink>
            <NavLink href="/sobre">Quem somos</NavLink>
            <NavLink href="/termos-uso">Termos de uso</NavLink>
        </div>
        <div class="inferior">
            <p>Copyright© @DateTime.Today.Year Frases Curtas</p>
        </div>
    </div>
</footer>