<footer>
    <div class="container">

        <div class="logo">
             <p>LOGO</p>
        </div>

        <div class="superior">
           @* <NavLink href="/">Anunciar no site</NavLink>
            <NavLink href="/">Quero ser um autor</NavLink>*@
            <NavLink href="/">Encontrei um erro no site</NavLink>
            <NavLink href="/">Política de privacidade</NavLink>
            <NavLink href="/">Termos de uso</NavLink>
        </div>

        <div class="inferior">
            <p>Copyright © @DateTime.Today.Year  Frases Curtas</p>
        </div>

    </div>
</footer>