
@media all {
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap');

    * { outline:none; margin:0; padding:0; border:none; }
    body { font-family:'Raleway', sans-serif; }
    input { background:#ddd; width:100%; height:30px; border-radius:10px; }
    .container {  max-width:1200px; display:block; margin:0 auto; }

    .card { display:flex; flex-direction:column; width:100%; margin:20px 0; padding:15px; border-radius:5px; justify-content:center; align-items:center;
            box-shadow:0 0.3px 0.9px rgb(0 0 0 / 11%), 0 1.6px 3.6px rgb(0 0 0 / 13%); box-sizing:border-box; background:#FFF; }


    /* botoes */
    .btn { text-decoration:none; height:30px; border-radius:5px; width:min-content; padding:5px 10px; }
    .btn:hover { cursor:pointer; opacity:0.9; }
    .btn-amarelo { background:#f1c40f; color:#FFF; }
    .btn-vermelho { background:#e74c3c; color:#FFF; }

    /* paginacao */
    .paginacao { margin:20px; }
    .pg { width:50px; height:50px; border-radius:50%; margin:0 15px; font-size:30px;  }
    .pg:hover { cursor:pointer;  }

    .pg.avancar-proximo { background:#404040; }
    .pg.avancar-ultimo { background:#404040; }

    .pg.retroceder-um { background:#f1c40f; }
    .pg.retroceder-todos { background:blue; }
    .pg.retroceder-todos disabled { background:blue; }

    .pg.pg-ultimo { background:#ff6a00; }
}

@media (max-width:1300px){
    .container {  max-width:95%; }
}

/* novo */
@media all {
    .sombra { box-shadow:0 0.3px 0.9px rgba(0,0,0,.108), 0 1.6px 3.6px rgba(0,0,0,.132); }
}
