@using FrasesCurtas.Autenticacao
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager;

<header>
    <div class="container">
        <div class="nav-container" tabindex="0">
            <button class="nav-toggle" onclick="abreMenu();"></button>

            <nav class="nav-items" onclick="fecharMenu()">
                <NavLink class="nav-item" href="/">Frases</NavLink>
                <NavLink class="nav-item" href="/autores">Autores</NavLink>
                <NavLink class="nav-item" href="/categorias">Categorias</NavLink>
                <NavLink class="nav-item" href="/" >Quem somos</NavLink>
                <NavLink class="nav-item" href="/">Anuncie no site</NavLink>
                <NavLink class="nav-item" href="/">Notificar um erro ou bug</NavLink>
                <NavLink class="nav-item" href="/">Contato</NavLink>
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="nav-item" @onclick="Logout">Encerrar seção</NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <NavLink class="nav-item" href="entrar/">Acessar painel administrativo</NavLink>
                    </NotAuthorized>
                </AuthorizeView>
                <NavLink class="nav-item" href="/contato">Contato</NavLink>
            </nav>
        </div>
        <span class="logo">Frases Curtas</span>
        <button class="btn-modo-visualizacao" onclick="toggleDarkMode()">
            <img src="imagens/ico-modo-escuro.svg" width="40" height="40" alt="Habilitar modo escuro" id="ico-modovisual" />
        </button>
    </div>
    
</header>


@code {

    private async Task Logout() {
        var customAuthStateProvider = (ProvedorAutenticacao)authStateProvider;
        await customAuthStateProvider.AtualizarEstadoAutenticao(null);
        navManager.NavigateTo("/", true);
    }

}