@page "/int/categorias/adicionar-categoria/";
@attribute [Authorize(Roles = "Administrador")]

@using FrasesCurtas.Componentes
@using FrasesCurtas.Models;
@inject NavigationManager NavigationManager;
@inject FrasesCurtas.Services.ICategoriaFraseService CategoriaFraseService;



<div class="container">
    <h3>Adicionar categoria</h3> 

    <EditForm Model="categoria" OnValidSubmit="CriarCategoria">
        <div>
            <label>Categoria</label>
            <InputText @bind-Value="categoria.Categoria"></InputText>
        </div>
        <div>
            <label>Descrição</label>
            <InputDate @bind-Value="categoria.Descricao"/>
        </div>
        <div>
            <label >Ativo?</label>
            <InputSelect @bind-Value="categoria.Ativa">
                 <option value="true">Sim</option>
                 <option value="false" selected>Não</option>

            </InputSelect>
        </div>

        <DataAnnotationsValidator />
        <ValidationSummary />

        <button type="submit">Incluir</button>
    </EditForm>

</div>

@code {
    CategoriaFrase categoria = new();

    async Task CriarCategoria() {
        categoria.GerarIdCategoria();
        await CategoriaFraseService.Adicionar(categoria);
        NavigationManager.NavigateTo("/int/categorias");
    }
}
