@page "/int/autores/adicionar-autor/";
@attribute [Authorize(Roles = "Administrador")]

@using FrasesCurtas.Componentes
@using FrasesCurtas.Models;
@inject NavigationManager NavigationManager;
@inject FrasesCurtas.Services.IAutorService AutorService;
@layout InternasLayout;

<div class="container">
    <h3>Adicionar autor</h3> 

    <EditForm Model="autor" OnValidSubmit="CriarAutor">
        <div>
            <label for="nomeAutor">Nome</label>
            <InputText @bind-Value="autor.Nome" class="form-control" id="autornome"></InputText>
        </div>
        <div>
            <label for="dataCadastroAutor">Data Cadastro</label>
            <InputDate @bind-Value="autor.DataCadastro"/>
        </div>
        <div>
            <label for="arquivadaFrase">Ativo?</label>
            <InputSelect @bind-Value="autor.Ativo" class="form-control">
                 <option value="true">Sim</option>
                 <option value="false" selected>Não</option>

            </InputSelect>
        </div>

        <ImagemUpload Modelo="@autor" DiretorioImagem="autores" TextoLabel="Upload imagem" LarguraImagem="100" />

        <DataAnnotationsValidator />
        <ValidationSummary />

        <button type="submit">Incluir</button>
    </EditForm>

</div>

@code {
    Autor autor = new();

    async Task CriarAutor() {
        autor.GerarNovoId();
        await AutorService.Adicionar(autor);
        NavigationManager.NavigateTo("/int/autores");
    }
}
