h1 { text-transform:uppercase; margin:40px 0; font-weight:200; font-size:25px;  }
.autores { display:grid; grid-template-columns:repeat(4, 1fr); grid-gap:20px; }
.autores .imagem-autor img { border-radius:50%; }

.autores ::deep a { text-transform:uppercase; text-align:center }

@media (max-width:960px){
    .autores { display:grid; grid-template-columns:repeat(3, 1fr); }
}

@media (max-width:730px){
    .autores { display:grid; grid-template-columns:repeat(1, 1fr); }
}