@media all {
    h1 { margin:40px 0; text-transform:uppercase; }
    .autores { margin:40px 0; display:grid; grid-template-columns:1fr 1fr 1fr; }
    .autor { display:flex; align-items:center; margin:5px 0;}
    .autor .foto  { width:100px; height:100px; border-radius:50%; display:flex; align-items:center; justify-content:center; text-transform:uppercase; border:2px solid #3B3F49; font-weight:600;}
    .autor .nome  {  margin:0 5px; text-transform:uppercase; font-weight:600; }
}


@media (max-width:700px){
    .autores { grid-template-columns:1fr 1fr; }
}


@media (max-width:640px){
    .autores { grid-template-columns:1fr; }
}

