h1 { text-transform:uppercase; font-weight:200; }
ul  { display:grid; grid-template-columns:1fr 1fr 1fr; justify-content:space-between; list-style-type:none; width:100%; grid-gap:20px; margin:40px 0; }
ul li { margin:10px 0; font-size:18px; }
ul ::deep a { font-weight:600; }

@media (max-width:740px){
    ul  { grid-template-columns:1fr 1fr; }
}


@media (max-width:620px){
    ul  { grid-template-columns:1fr; }
}