@page "/entrar";
@using FrasesCurtas.Autenticacao;
@using FrasesCurtas.Componentes
@inject ContaUsuarioService contaUsuarioservice;
@inject IJSRuntime js;
@inject AuthenticationStateProvider provedorAutenticacao;
@inject NavigationManager navManager;



<div class="container">
    <h1>Entrar</h1>
    <input @bind="modelo.Nome" />
    <input @bind="modelo.Senha" type="password" />
    <button @onclick="Autenticar">Entrar</button>
</div>

@code {
    private class Modelo
    {
        public string Nome { get; set; }
        public string Senha { get; set; }
    }

    private Modelo modelo = new Modelo();

    private async Task Autenticar()
    {
        var contaUsuario = contaUsuarioservice.BuscarPorNome(modelo.Nome);
        if (contaUsuario == null || contaUsuario.Senha != modelo.Senha)
        {
            await js.InvokeVoidAsync("alert", "Usuario ou senha invalidos!");
            return;
        }

        var provedorAutenticacaoCustomizado = (ProvedorAutenticacao)provedorAutenticacao;
        await provedorAutenticacaoCustomizado.AtualizarEstadoAutenticao(new UsuarioSessao
            {
                Nome = contaUsuario.Nome,
                NivelAcesso = contaUsuario.NivelAcesso
            });
            navManager.NavigateTo("int/frases/", true);
    }
}
 