@page "/"
@using FrasesCurtas.Models
@inject FrasesCurtas.Services.IFraseService FraseService
@inject FrasesCurtas.Services.IAutorService AutorService
@using FrasesCurtas.Componentes;

<PageTitle>Frases</PageTitle>

<Outdoor />
<div class="container">
    <ListaPaginada Dados="frases">

        <ConteudoPrincipal>
            <div class="card">
                <p class="frase">@context.Descricao</p>
                <p class="autor">@context.Autor?.Nome</p>
            </div>
        </ConteudoPrincipal>
    </ListaPaginada>
</div>
  
<Rodape />

@code {
    private IQueryable<Frase> frases;

    // ao inicializar busca todas frases
    protected override async Task OnInitializedAsync() { 
        frases = await FraseService.BuscarTodas(); 

        // alimenta autores
        foreach (var frase in frases){
            frase.Autor = await AutorService.BuscarPor(frase.IdAutor);    
        }
    }
}