@page "/sobre";

<div class="container">

    <div class="card mt80">
        <h1>Quem somos</h1>
        <p>Idealizado por Daniel Pelissari, o projeto foi desenvolvido com Blazor, um framework da Microsoft para a criação de aplicativos web interativos, o Frases Curtas ganha vida através da harmonia entre o código e a experiência do usuário. Blazor permite que a interatividade seja movida para o lado do servidor, criando uma sensação de fluidez enquanto os visitantes exploram as mensagens concisas e profundas que o site tem a oferecer.</p>
        <p>Por trás da cortina, o Entity Framework Core (EF Core) e o SQLite formam a base sólida em que o Frases Curtas se sustenta. O EF Core facilita a interação com o banco de dados, permitindo o armazenamento e a recuperação eficiente das frases que tocam os corações dos visitantes. Enquanto isso, o SQLite oferece uma solução de banco de dados embutida e eficaz, garantindo que o acesso às frases seja rápido e confiável.</p>
        <p>O Frases Curtas não se apoia em frameworks de CSS preexistentes para sua aparência visual. Em vez disso, o design foi meticulosamente concebido desde o início. Cada detalhe, desde a tipografia elegante até a paleta de cores suaves, foi escolhido para complementar o propósito do site: permitir que as palavras brilhem sem distrações. O layout limpo e agradável aos olhos direciona o foco exatamente onde deveria estar - nas frases que podem inspirar, confortar e desencadear a reflexão.</p>
        <p>A fusão harmoniosa de tecnologias e design no Frases Curtas resulta em uma plataforma que transcende sua funcionalidade básica. Ela se torna um espaço onde as pessoas podem pausar por um momento, em meio à agitação da vida digital, e encontrar conexão com pensamentos poderosos encapsulados em poucas palavras. É um testemunho de como a criatividade tecnológica e o cuidado estético podem se unir para criar algo notável e memorável.</p>
        <p>Em última análise, o Frases Curtas não é apenas um site, mas uma jornada. Uma jornada que nos lembra da beleza da simplicidade, da magia das palavras e do potencial transformador que reside dentro de cada frase. Navegar pelo Frases Curtas é como passear por um jardim de pensamentos, colhendo insights e contemplações ao longo do caminho.</p>
        <p>Portanto, da próxima vez que você sentir o desejo de um momento de inspiração ou reflexão, não hesite em visitar o Frases Curtas. De sua tecnologia inovadora a seu design pensado com carinho, o site é uma celebração da linguagem, da tecnologia e, acima de tudo, da capacidade das palavras curtas de terem um impacto duradouro.</p>
    </div>
</div>

@code {

}
