@page "/termos-uso";

<div class="container">

    <div class="card sombra mt80">
        <h1>Termos de uso</h1>

        <div class="topicos">
            <div class="item sombra">
                <h2>Direitos de Propriedade Intelectual</h2>
                <p>O Frases Curtas é um espaço dedicado a compartilhar mensagens curtas e inspiradoras. No entanto, é importante deixar claro que as frases apresentadas no site não são de nossa autoria e não possuímos direitos intelectuais sobre elas. As frases são coletadas de fontes diversas e são creditadas aos seus respectivos autores sempre que possível. O objetivo do site é criar um ambiente onde essas frases possam ser apreciadas e compartilhadas.</p>
            </div>
            <div class="item sombra">
                <h3>Uso Não Comercial</h3>
                <p>O uso deste site é estritamente para fins não comerciais. Você não está autorizado a usar o conteúdo deste site, incluindo as frases exibidas, para fins comerciais sem a permissão expressa dos respectivos detentores dos direitos autorais. Isso inclui, mas não se limita a, venda, redistribuição, ou uso em produtos ou serviços comerciais. O Frases Curtas é destinado a ser uma plataforma para inspiração e reflexão pessoal, e qualquer uso comercial é estritamente proibido.</p>
            </div>
            <div class="item sombra">
                <h3>Links para Sites Externos</h3>
                <p>O Frases Curtas pode conter links para sites externos para fornecer informações adicionais ou referências. No entanto, não controlamos o conteúdo desses sites e não nos responsabilizamos por suas práticas de privacidade ou termos de uso. A inclusão de links externos não implica endosso ou afiliação com esses sites.</p>
            </div>
            <div class="item sombra">
                <h3>Modificações nos Termos de Uso</h3>
                <p>Reservamo-nos o direito de alterar, modificar ou atualizar estes Termos de Uso a qualquer momento, sem aviso prévio. Recomendamos que você reveja periodicamente os termos para estar ciente de eventuais alterações. O uso contínuo do site após quaisquer modificações indica sua aceitação dessas modificações.</p>
                <p>Ao acessar e utilizar o Frases Curtas, você concorda em cumprir estes Termos de Uso. Se você não concorda com qualquer parte destes termos, pedimos gentilmente que se abstenha de usar o site. Agradecemos por sua compreensão e esperamos que você tenha uma experiência inspiradora e enriquecedora em nosso espaço virtual.</p>
            </div>
        </div>
    </div>
</div>

@code {

}
